.dashboard-wrapper{
  background-color: #f7f7f7;
  height: 999px;
}
.tabs-container {
  // background-color: white;
  margin-top: 60px;
}
.context-container {
  background-color: green;
  margin-top: 60px;
}
