.dashboard-wrapper{
  background-color: #ededed;
  height:     auto;       /* These two lines were the key. */
  min-height: 730px;
}
.tabs-container {
  // background-color: white;
  margin-top: 40px;
  padding-left: 20px;
}
.context-container {
  background-color: white;
  margin-top: 40px;
  border-radius: 6px;
  padding-bottom: 20px;
}
.dashboard-arrow{
  text-align: right;
}

