/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


.test {
  opacity: .5;
}

.login {
  background-color: white;
  color: black;
  width: 500px;
  border-radius: 5px;
}
