.checkout-content-container{
  background-color: white;
  border-radius: 6px;
  padding: 12px;
  padding-left: 20px;
  min-height: 260px;
  position: relative;
}
#confirm-modal-button{
  margin-top: 65px;
}
