<div class="wrapper-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-2 col-xs-offset-2">
        <ul class="list-inline">
          <li><a href=""><i class="fa fa-twitter fa-2x" style="color:white;"></i></a></li>
          <li><a href=""><i class="fa fa-facebook fa-2x" style="color:white;"></i></a></li>
          <li><a href=""><i class="fa fa-instagram fa-2x" style="color:white;"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-1">
        <p> About </p>
      </div>
      <div class="col-xs-1">
        <p> Press</p>
      </div>
      <div class="col-xs-1">
        <p> Privacy </p>
      </div>
      <div class="col-xs-1">
        <p> Help </p>
      </div>
      <div class="col-xs-4">
        <p class="footer-text">Developed by Team Elliot</p>
      </div>
    </div>
  </div>
</div>
