<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="openmodel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content modal-custom main-text">
      <h1 style="text-align: center; font-size: 70px;">Welcome to <%= image_tag 'pharmago', id: 'logo'  %></h1>
      <h3 style="text-align: center">The world's quickest way for pharmaceutical delivery</h3> <br>
      <h4><strong>Using Pharmago as a customer</strong></h4>
      <h4>Buying medicine has never been so easy. With Pharmago you can easily buy medicine online and have it delivered to you the same day. This is why you never again have to worry about not having enough medicine at home in case you get sick. </h4>
      <h4>But it get's even better. With Pharmago you can store several adresses and have medicine delivered not only to yourself but also to your parents for example. You also have the feature that you can order your medicine regularily, so daily, weekly or on your own schedule. Still hesitating to signup? Just create an account and check Pharmago out. It's free to sign up so what are you waiting for? </h4> <br>

      <h4><strong>Using Pharmago as a driver</strong></h4>
      <h4>You have a car or bike? Then you are our perfect Partner! Getting paid for singing in your car with a schedule you can decide for yourself? Sounds like a dream! </h4>
      <h4>So what are you waiting for. Join our team and contribute to society by helping people to get their medicine! Just hit the top left button and become a driver!</h4> <br>
    </div>
  </div>
</div>
