<h3> Your orders </h3>
<hr/>

  <% counter = 0 %>
  <% orders.each do |order| %>
    <% if order.unclaimed? %>
    <% counter += 1 %>

    <div>
      <h4> Order - id: <%= order.id  %> </h4>
      <h4> Order - status: awaiting driver </h4>
      <!-- <h5> delivery date: <%= order.delivery_date %> </h5> -->
    </div>
    <% end %>
  <% end %>

<% if counter == 0 %>
  <div class="fadeinwords">
  Welcome, <%= current_user.first_name.capitalize%>! It looks like you haven't created an order yet. To create your first order click <%= link_to "HERE", new_order_path %>    
  </div>
<% end %>

