<div class="dashboard-wrapper">
  <div class="row">
    <div class="col-xs-3">
      <div class="tabs-container">
        <div class="tab active" data-target="#orders"> <!-- lav underDivs se instacart -->
          <div class ="col-xs-1"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
          <div class ="col-xs-7 col-xs-offset-1 dashboard-text"><h4>Orders</h4></div>
          <div class ="col-xs-3 text-right"><i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
        </div>
        <div class="tab" data-target="#profile">
          <div class ="col-xs-1"><i class="fa fa-user" aria-hidden="true"></i></div>
          <div class ="col-xs-7 col-xs-offset-1 dashboard-text"><h4>Profile</h4></div>
          <div class ="col-xs-3 text-right"><i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
        </div>
        <div class="tab" data-target="#History">
          <div class ="col-xs-1"><i class="fa fa-list" aria-hidden="true"></i></div>
          <div class ="col-xs-7 col-xs-offset-1 dashboard-text"><h4>Order History</h4></div>
          <div class ="col-xs-3 text-right"><i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
        </div>
        <div class="tab" data-target="#Addresses">
          <div class ="col-xs-1"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
          <div class ="col-xs-7 col-xs-offset-1 dashboard-text"><h4>Delivery Addresses</h4></div>
          <div class ="col-xs-3 text-right"><i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
        </div>
      </div>
    </div>
    <div class="context-container col-xs-7">
      <div class="tab-content" id="orders">
        <%= render 'customer_orders_show.html.erb', orders: @orders, customer: @customer %>
      </div>
      <div class="tab-content hidden" id="profile">
        <%= render 'customer_profile_show.html.erb', customer: @customer %>
      </div>
      <div class="tab-content hidden" id="History">
        <%= render 'customer_history_show.html.erb', customer: @customer %>
      </div>
      <div class="tab-content hidden" id="Addresses">
        <%= render 'customer_address_show.html.erb', customer: @customer %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>

<script>
  $(document).ready(function () {
    $(function(){

      $(".tab").on("click", function(e){
        // Change active tab
        $('.tab').removeClass('active')
        $(this).addClass('active')

        // Hide all tab-content (use class="hidden")
        $('.tab-content').addClass('hidden')

        // Show target tab-content (use class="hidden")
        var id = $(".active").data("target")
        $(id).removeClass('hidden')
      });
    });
  });
</script>
<% end %>
