<div class="banner" style="background: url( <%= image_path('shoppingbanner2.jpg') %> );">
  <div class="banner-content">
    <h2>Shop till you drop <3</h2>
  </div>
</div>

<div class="shopping-page-wrapper">
  <div class ="slick-cards">
    <% @products.each do |product| %>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.placecage.com/c/200/300');">
      <div class="card-category"> <%= product.name %> </div>
      <div class="card-description">
        <h2>id: <%= product.id %></h2>
        <p> product description / price</p>
      </div>
      <!-- <img class="card-user avatar" src=""> -->
      <a class="card-link" href="#" ></a>
    </div>
    <% end %>
  </div>
  <div>


  </div>


</div>

