<div class="wrapper" style="background-color: #ededed">

<div class="row">
<div class="col-xs-3">

    <div class="tabs-container">
        <div class="tab" data-target="#orders"> <!-- lav underDivs se instacart -->
          <div class ="col-xs-1"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
          <div class ="col-xs-7 col-xs-offset-1 dashboard-text"><h4>Suggested Categories</h4></div>
          <div class ="col-xs-3 text-right"><i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
        </div>
        <div class="tab" data-target="#profile">

          <div class ="col-xs-1"><i class="fa fa-medkit" aria-hidden="true"></i></div>

          <div class ="col-xs-7 col-xs-offset-1 dashboard-text"><h4>All medicines</h4></div>
          <div class ="col-xs-3 text-right"><i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
        </div>
        <div class="tab" data-target="#History">

          <div class ="col-xs-1"><i class="fa fa-ambulance" aria-hidden="true"></i></div>

          <div class ="col-xs-7 col-xs-offset-1 dashboard-text"><h4>Your Orders</h4></div>
          <div class ="col-xs-3 text-right"><i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
        </div>
        <div class="tab" data-target="#Addresses">
          <div class ="col-xs-1"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
          <div class ="col-xs-7 col-xs-offset-1 dashboard-text"><h4>Basket</h4></div>
          <div class ="col-xs-3 text-right"><i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
        </div>
        <div class="tab" data-target="#Addresses">
          <div class ="col-xs-1"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
          <div class ="col-xs-7 col-xs-offset-1 dashboard-text"><h4>Categories</h4></div>
          <div class ="col-xs-3 text-right"><i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
        </div>
      </div>
    </div>

<div class="col-xs-9">
  <h3 style="padding-top: 40px; margin-top: 0px; margin-left: 15px; color:grey;">Most bought</h3>
  <div class="shopping-page-wrapper" style="padding-left: 30px; margin-left: 15px; padding-right: 30px; margin-right: 15px;">
    <div style="padding: 20px; margin-bottom: 0px !important;">
      <div class ="your-class" id="order-display">
        <% @products.first(6).each do |product| %>
          <%= render "shared/product_card", product: product %>
        <% end %>
      </div>
    </div>
  </div>

  <h3 style="margin-left: 15px; color:grey;">Painkillers</h3>
  <div class="shopping-page-wrapper" style="padding-left: 30px; margin-left: 15px; padding-right: 30px; margin-right: 15px;">
    <div style="padding: 20px; margin-bottom: 0px !important;">

      <div class ="your-class" id="order-display">
        <% @products.last(6).each do |product| %>
          <%= render "shared/product_card", product: product %>
        <% end %>
      </div>

    </div>
  </div>

  <h3 style="margin-left: 15px; color:grey;">Allergies</h3>
  <div class="shopping-page-wrapper" style="padding-left: 30px; margin-left: 15px; padding-right: 30px; margin-right: 15px;">
    <div style="padding: 20px; margin-bottom: 0px !important;">

      <div class ="your-class" id="order-display">
        <% @products.each do |product| %>
          <%= render "shared/product_card", product: product %>
        <% end %>
      </div>
      <br>
      <br>
    </div>
  </div>
</div>



<% content_for(:after_js) do %>
<script>
  $('.addproduct').hide();
  function showAddDiv(id) {
    $('#add-' + id).show();
  }
  function hideDiv(id) {
    $('#add-' + id).hide();
  }
</script>
<% end %>

