/* Footer design */
.wrapper-footer{
  background: #ededed;
  color: white;
  padding: 30px 0px;
  padding-top: 30px;
  width:100%;
  // position:absolute;
}
.footer-list {
  margin: 10px;
}
.footer-text {
  // padding-top: 20px;
}


// .padded {
//   padding: 100px 0;
// }
// .wrapper-grey {
//   background: #F4F4F4;
//   padding: 100px 0;
// }
// html, body {
//   height: 100%;
// }
// .page-wrap {
//   min-height: 100%;
//   /* equal to footer height */
//   margin-bottom: -100px;
// }
// .page-wrap:after {
//   content: "";
//   display: block;
// }
// .footer, .page-wrap:after {
//   height: 100px;
// }
