.modal-custom {
background: white; /* fallback for old browsers */
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 background-size: 100%;
 border-radius: 10px;
}

.main-text h4 {
  padding-left: 20px;
  padding-right: 20px;
}
