.fade {
  background-image: url('doctor_left.jpg');
  opacity: .15;
  transition: 1.5s linear all;
  background-size: cover;
  // background: rgba(0, 0, 0, 0.5);
}

.fadewhite {
  background-color: white;
  opacity: .15;
  transition: 1.5s linear all;
  background-size: cover;
  // background: rgba(0, 0, 0, 0.5);
}

.confirmation-content {
  color: #424242;
  text-align: center;
  font-size: 40px;
  position: absolute;
  z-index: 10;
  padding-left: 125px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.order-card {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  transition: all 0.3s ease;
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: space-between;
}

.product-quantity-bubble {
  border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    padding: 4px 9px;
    min-width: 10px;
    position: absolute;
    // display: none;
    right: 7px;
    top: 7px;
    background-color: #43B02A;
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-weight: normal;
    text-rendering: optimizeLegibility;

}

.top-right {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  // left: 0;
}

.product-quantity {
  font-weight: lighter;
  margin-top: 30px;
  font-size: 40px;
  display: block;
  text-align: center;
  line-height: 38px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

.in-cart {
  font-weight: lighter;
  text-align: center;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

.order-info {
  flex: 0 1 300px;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  position: relative;
  justify-content: space-between;

}

.order-interaction {
  flex: 0 1 300px;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  position: relative;
}

.center {
  text-align: center;
}
.add-button {
  cursor: pointer;
}

