.slick-prev:before, .slick-next:before {
  color: #ADCAD6 !important;
}
.slick-slider {
  margin: 0px;
  padding-left: 15px;
  padding-right: 15px;
}
  /* the parent */
  .slick-list {
    margin: 0 -20px;
  }

// .fa-arrow-right:after{
//   text: right;
// }

.card-link:hover {
  opacity: 0.0;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: white;
}

.hoverpoducts:hover {
  opacity: 0.9 !important;
}

.addcart {
  opacity: 0.9 !important;
}
