.slick-prev:before, .slick-next:before {
    color: red !important;
    margin: 2px;
}
  .slick-slide {
    margin: 0 20px;
  }
  /* the parent */
  .slick-list {
    margin: 0 -20px;
  }

// .fa-arrow-right:after{
//   text: right;
// }
