
.tab {
  background: white;
  color: #01939A;
  // flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // text-align: center;
  padding: 3px 0 3px 3px;
  border: 1px solid #F0EFEC;
  cursor: pointer;
}
.tab.active {
  color: #014a4e;
}

.tab-content {
  padding: 30px;
  // padding-left: 30px;

}
.tab-content p {
  font-size: 30px;
}
.dashboard-text{
  // color: #01939A;
}
.tab:first-child {
  border-radius: 6px 6px 0 0;
}
.tab:last-child {
  border-radius: 0 0 6px 6px;
}
