<h3> Drivers profile </h3>



<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {

      $('#switch').removeAttr('checked');

      var status = '<%= @driver.status %>';
      console.log(status);
      console.log(<% @driver %> );

      function activeStateForCheckbox(status) {
        if ( status == "active" ) {
          $('#switch').prop("checked", !$('#switch').prop("checked"));
        }
      }

      activeStateForCheckbox(status);

    });
  </script>
<% end %>
